# Build output & generated types
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables & secrets
.env
.env.production
.env.local
.env.*.local

# Cloudflare Wrangler files
.wrangler/

# System-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.swp
*.swo